form {
    align-items: center;
    background-color: #F4F5F6;
    border-radius: 6px;
    font-family: "Open Sans", sans-serif;
    margin: 2em;
    padding: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75em;
    box-shadow: 1px 4px 8px #115DA9;

}

p>label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 24px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
    width: 80%px;
    height: 30px;
    border: 1px solid #007bff74;
    box-sizing: border-box;
}

input:invalid {
    box-shadow: 0 0 4px 1px rgb(255, 255, 255);
}

input:focus:invalid {
    box-shadow: none;
}

input[type="submit"] {
    font-family: "Open Sans", sans-serif;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #007bff74;
    border-radius: 3px;
    color: white;
    background: #007bff74;
    position: relative;
    left: 180px;
}
#loginForm,
#signupForm {
     margin: 20em auto;
}