html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    color: #115DA9;
    background: linear-gradient(135deg, white, #115da907);
    margin: auto;

}

main {

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


header {
    background: radial-gradient(#007bff, #115DA9);
    padding: 20px 0px;

}
img {
    object-fit: cover;
    margin: auto;
    height: 50%;
}

.action {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 40px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 10px;
}

li a:hover {
    color: white;
    background-color: #007CFF;
    border-radius: 5px;
    padding: 10px;

}

h1 {
    margin: 100px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1200;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 800;
    text-align: center;

}

body #logOn {
    display: contents;
}

main #charts {
    display: flex;

}

#charts {
    width: 90%;
    height: 50%;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    background-color: #F4F5F6;
    border-radius: 6px;

}

#chart1,
#chart2 {
    margin: auto;
    padding: 1%;
    object-fit: cover;
    height: 400px;
    width: 600px;
}

/* canvas {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 10%;

} */

body main #tabela {
    display: inline;

}

body main #tabela {
    width: 90%;
    height: 50%;
    background-color: #F4F5F6;
    border-radius: 6px;
    margin: auto;
    padding: 30px;
    margin-top: 0;
    display: flex;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10%;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}
table {
    
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;

}
tbody {
    width: 80%;
    justify-content: center;
    align-items: center
}
th,
td {
    margin: auto;
    padding: 15px;
}
tr {
    margin: auto;
    padding: 15px;
    
}
th {
    background-color: white;
}
