html,
body {
    height: 100%;
    margin: auto;
    position: relative;
}

body {
    color: #115DA9;
    background: linear-gradient(135deg, white, #115da907);
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


header {
    background-color: #115DA9;
    padding: 1.25em 0px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

img {
    object-fit: cover;
    margin: auto;
    height: 15em;
}

.action {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 1.5em;
}

li a {
    margin: 1em;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 0.5em;
    font-size: 1em;
}

li a:hover {
    color: white;
    background-color: #007CFF;
    border-radius: 5px;
    padding: 10px;
}


h1 {
    margin: 1em;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-align: center;
}

body #logOn {
    display: contents;
}

main #charts {
    margin: 2em;
}

#homeContent {
    margin: 18em;
}

#charts {
    padding: 1em;
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F5F6;
    border-radius: 6px;
    width: 90%;
}


#chart1,
#chart2 {
    margin: auto;
    padding: 1%;
}

#pieChart,
#barChart {
    height: 16em;
    width: 32em;
}

body main #tableContent {
    display: inline;
}

body main #tableContent {
    width: 90%;
    height: 50%;
    background-color: #F4F5F6;
    border-radius: 6px;
    margin: 2em 0;
    padding: 1em;
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

table {

    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;

}

tbody {
    width: 80%;
    justify-content: center;
    align-items: center;
}

th,
td {
    margin: auto;
    padding: 15px;
}

tr {
    margin: auto;
    padding: 15px;
}

th {
    background-color: white;
}

.iconElement {
    display: none;
}

/* media queries */
@media (max-width: 480px) {
    header {
        justify-content: center;
    }

    main {
        margin: auto;
        display: inline;
    }

    #homeContent {
        margin: 4em 1em;
    }

    #loginForm,
    #signupForm {
        margin: 10em 1em;
    }

    img {
        height: 12em;
    }

    body #logOn {
        display: contents;
    }

    main #charts {
        margin: 0.25em;
    }

    #charts {
        justify-content: start;
        height: 40%;
    }

    #pieChart,
    #barChart {
        height: 13em;
        width: 24em;
    }

    body main #tableContent {
        margin: auto;
        height: auto;
    }

    th,
    td {
        margin: auto;
        padding: 0.5em;
    }

    tr {
        margin: auto;
        padding: 0.5em;
    }

    .textElement {
        display: none;
    }

    .iconElement {
        height: 24px;
        display: block;
    }
}